*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px 180px;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}
.links{
    display: flex;
    gap: 30px;
}
.links a{
    color: #6b78a8;
    font-weight: bold;
}
.links a:hover{
    color: red;
}
.nav-right button{
    width: 10vw;
    height: 6vh;
    border: 1px solid white;
    background: white;
    color: red;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.nav-right button:hover{
    background-color: red;
    color: white;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right img{
    width: 35vw;
}
.header-left{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
}
.left-title{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 35vw;
}
.left-title h1{
    color: #384b88;
    font-size: 60px;
}
.left-title p{
    color: grey;
    width: 30vw;
    font-size: 16px;
}
.left-button{
    display: flex;
    justify-content:center;
    gap: 5px;
}
.left-button button{
    border: none;
    background-color: white;
    color: #6b78a8;
    width: 13vw;
    height: 7vh;
    border-radius: 20px;
    font-weight: bold;
}
.left-button button:hover{
    background-color: red;
    color: white;
}
/* css  */
.contact-area{
    
    height: 50vh;
}
.contact-content{
    padding-top: 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.discr{
    display: flex;
    flex-direction: column;
   align-content: start;
    /* text-align: start; */
}
.discr > h3{
    color: red;
}
.info-area{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.gap{
    display: flex;
    gap: 40px;
}

.info-area > div input , textarea{
    background:#f4fafe;
    width: 25vw;
    height: 5vh;
    outline: none;
    border: none;
    border-radius: 5px;
   
}
textarea{
    width: 50vw;
    height: 30vh;
}

.button-mail{
    background: #FF3946;
    border: none;
    border-radius: 25px;
    padding: 15px;
}
.mail-link{
    text-decoration: none;
    color: white;
}
footer{
    width: 100%;
    height: fit-content;
    color: #ffffff;
    background: #314584;
}
.footer-content{
    margin-top: 20vh;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.footer-discrp > h1{
    color: #FF3946;
}
.footer-nav-links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.footer-nav-links > .f-l{
    text-decoration: none;
    color: white;
}
.links-icons{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
