*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px 180px;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}
.links{
    display: flex;
    gap: 30px;
}
.links a{
    color: #6b78a8;
    font-weight: bold;
}
.links a:hover{
    color: red;
}
.nav-right button{
    width: 10vw;
    height: 6vh;
    border: 1px solid white;
    background: white;
    color: red;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.nav-right button:hover{
    background-color: red;
    color: white;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
}
.header-right img{
    width: 35vw;
}
.header-left{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
}
.left-title{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 35vw;
}
.left-title h1{
    color: #384b88;
    font-size: 60px;
}
.left-title p{
    color: grey;
    width: 30vw;
    font-size: 16px;
}
.left-button{
    display: flex;
    justify-content:center;
    gap: 5px;
}
.left-button button{
    border: none;
    background-color: white;
    color: #6b78a8;
    width: 13vw;
    height: 7vh;
    border-radius: 20px;
    font-weight: bold;
}
.left-button button:hover{
    background-color: red;
    color: white;
}
.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.sec1-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.sec1-left h1{
    color: #384b88;
    width: 25vw;
    font-size: 40px;
}
.sec1-left button{
    border: none;
    background-color: white;
    color: #6b78a8;
    width: 13vw;
    height: 7vh;
    border-radius: 20px;
    font-weight: bold;
}
.sec1-left button:hover{
    background-color: red;
    color: white;
}
.sec1-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.sec1-right1{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    width: 15vw;
}
.sec1-right1 h2{
    color: #384b88;
    font-size: 23px;
}
.sec1-right1 p{
    color: #6b78a8;
    width: 14vw;

}
/* css  */
.contact-area{
    
    height: 50vh;
}
.contact-content{
    padding-top: 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.discr{
    display: flex;
    flex-direction: column;
   align-content: start;
    /* text-align: start; */
}
.discr > h3{
    color: red;
}
.info-area{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.gap{
    display: flex;
    gap: 40px;
}

.info-area > div input , textarea{
    background:#f4fafe;
    width: 25vw;
    height: 5vh;
    outline: none;
    border: none;
    border-radius: 5px;
   
}
textarea{
    width: 52vw;
    height: 10vh;
}

.button-mail{
    background: #FF3946;
    border: none;
    border-radius: 25px;
    padding: 15px;
}
.mail-link{
    text-decoration: none;
    color: white;
}
footer{
    width: 100%;
    height: fit-content;
    color: #ffffff;
    background: #314584;
}
.footer-content{
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.footer-discrp > h1{
    color: #FF3946;
}
.footer-nav-links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.footer-nav-links > .f-l{
    text-decoration: none;
    color: white;
}
.links-icons{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
@media (max-width: 425px) {

    .contact-area{
        width: 100%;
        height: fit-content;
        /* background: #8ea8ff8c; */
    }
    .contact-content{
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }
    textarea{
        width: 60vw;
    }
    .discr{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .discr > h3{
        color: red;
    }
    .info-area{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 5vh;
    }
    .info-area > input , textarea{
        background: #f4fafe;
        padding: 0.5rem 2rem;
        outline: none;
        border: none;
        border-radius: 5px;
        font-weight: 300;
    }
    
    .button-mail{
        border: none;
        border-radius: 25px;
        margin-top: 5vh;
    }
    .mail-link{
        text-decoration: none;
        color: white;
    }
    /* footer despo  */
    footer{
        /* width: 100%;
        height: fit-content; */
        color: #ffffff;
        background: #314584;
    }
    .footer-content{
        margin-top: 5rem;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10vw;
    }
    
    .footer-discrp > h1{
        color: #FF3946;
        padding-inline: 1rem;
    }
    .DOOB{
        color: red;
    }
    .footer-nav-links{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
    }
    
    .links-icons{
        display: flex;
        flex-direction: row;
        gap: 10vw;
    }
    


}
